<html><head>
    <!-- Normal styling from vimwiki -->
    <link rel="Stylesheet" type="text/css" href="https://albamr09.github.io/style.css">
    <!-- Custom styling from vimwiki -->
    <link rel="Stylesheet" type="text/css" href="../../../../../style/custom.css">
    <title>Overview</title>
  <script type="text/javascript" src="https://polyfill.io/v3/polyfill.min.js?features=es6" id="latex_script" data-description="Support for latex"></script><script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script" data-description="Support for latex"></script><link rel="Stylesheet" type="text/css" href="https://albamr09.github.io/style/search.css" data-description="Styling for search"><link rel="Stylesheet" type="text/css" href="https://albamr09.github.io/style/atom-one-light.min.css" data-description="Code highlight"><link rel="icon" type="image/svg+xml" href="https://albamr09.github.io/public/icon.svg" data-description="Page icon"></head>
  <body>
    <a href="https://albamr09.github.io/" style="
        color: white;
        font-weight: bold;
        text-decoration: none;
        padding: 3px 6px;
        border-radius: 3px;
        background-color: #1e90ff;
        text-transform: uppercase;
      ">Index</a>
    <form id="search_form" class="search-form">
      <input required="" type="search" id="search_term" class="searchTerm">
      <button type="submit" class="searchButton">Search</button>
    </form>
    <div id="search-background" class="search-background">
      <div id="search-result" class="search-result-hide"></div>
      <div id="search-form-modal" class="search-form-modal">
        <form id="search-form-in-modal">
          <input required="" type="search" id="search-input-in-modal" class="search-input-in-modal" placeholder="Search whatever...">
          <button type="submit" class="searchButton">Search</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="content">
<p>
<a href="../index.html">Back</a>
</p>

<div id="Overview"><h1 id="Overview" class="header"><a href="#Overview">Overview</a></h1></div>

<hr>

<p>
Thymeleaf is a Java templating engine. 
</p>

<p>
A thymeleaf template can be an HTML page with some thymeleaf expressions and include dynamic content from thymeleaf expressions.
</p>

<p>
In a web app, thymeleaf is processed on the server.
</p>

<hr>

<p>
To use thymeleaf you have to include it in your dependencies:
</p>

<pre xml="">...
		&lt;dependency&gt;
			&lt;groupId&gt;org.springframework.boot&lt;/groupId&gt;
			&lt;artifactId&gt;spring-boot-starter-thymeleaf&lt;/artifactId&gt;
		&lt;/dependency&gt;
...
</pre>

<div id="Overview-Placement"><h2 id="Placement" class="header"><a href="#Overview-Placement">Placement</a></h2></div>

<p>
In Spring Boot, your Thymeleaf template files go in <code>src/main/resources/templates</code>. And for web apps, Thymeleaf templates have an <code>.html</code> extension.
</p>

<div id="Overview-Example"><h2 id="Example" class="header"><a href="#Overview-Example">Example</a></h2></div>

<p>
Given the following controller:
</p>

<pre java="">@Controller
public class DemoController {

	// create a mapping for "/hello"
	@GetMapping("/hello")
	public String sayHello(Model theModel) {
		
		theModel.addAttribute("theDate", new java.util.Date());
		
		return "helloworld";
	}
}
</pre>

<p>
We create the corresponding template <code>helloworld.html</code>:
</p>

<pre html="">&lt;!DOCTYPE HTML&gt;
&lt;html xmlns:th="http://www.thymeleaf.org"&gt;
&lt;head&gt;
	&lt;title&gt;Thymeleaf Demo&lt;/title&gt;
&lt;/head&gt;
&lt;!-- We obtain the date from the model --&gt;
&lt;body&gt;
	&lt;p th:text="'Time on the server is ' + ${theDate}" /&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<p>
To add styles, we create a <code>css</code> files in <code>src/main/resources/static/css</code>, and then we reference the styles:
</p>

<pre html="">&lt;!DOCTYPE HTML&gt;
&lt;html xmlns:th="http://www.thymeleaf.org"&gt;
&lt;head&gt;
	&lt;title&gt;Thymeleaf Demo&lt;/title&gt;
	&lt;!-- reference CSS file --&gt;
	&lt;link rel="stylesheet"
		  th:href="@{/css/demo.css}" /&gt;
&lt;/head&gt;
&lt;body&gt;
	&lt;p th:text="'Time on the server is ' + ${theDate}" class="funny" /&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>
</div>
  

<script type="text/javascript" src="https://albamr09.github.io/lib/highlight.min.js" id="js_highlight" data-description="Support sytax highlighting on code"></script><script type="text/javascript" src="https://albamr09.github.io/lib/zepto.min.js" id="zepto" data-description="Library to perform search"></script><script type="text/javascript" src="https://albamr09.github.io/lib/flexsearch.bundle.js" id="flexsearch" data-description="Library to perform search"></script><script type="text/javascript" src="https://albamr09.github.io/lib/search.js" id="search" data-description="Library to perform search"></script><script type="text/javascript" id="search" data-description="Entrypoint for hightlihgting">
  $("pre").each(function (index, item) {
    $(item).html("<code>" + $(item).html() + "</code>");
  });
  hljs.highlightAll();
</script></body></html>