<html><head>
    <!-- Normal styling from vimwiki -->
    <link rel="Stylesheet" type="text/css" href="https://albamr09.github.io/style.css">
    <!-- Styling for search -->
    <link rel="Stylesheet" type="text/css" href="https://albamr09.github.io/search.css">
    <title>Tables in Thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- For LaTeX -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async="" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <!-- Code Highlight -->
    <link rel="Stylesheet" type="text/css" href="https://albamr09.github.io/atom-one-light.min.css">
    <!-- Page icon -->
    <link rel="icon" type="image/svg+xml" href="https://albamr09.github.io/icon.svg">
  </head>
  <body>
    <a href="https://albamr09.github.io/" style="
        color: white;
        font-weight: bold;
        text-decoration: none;
        padding: 3px 6px;
        border-radius: 3px;
        background-color: #1e90ff;
        text-transform: uppercase;
      ">Index</a>
    <form id="search_form" class="search-form">
      <input required="" type="search" id="search_term" class="searchTerm">
      <button type="submit" class="searchButton">Search</button>
    </form>
    <div id="search-background" class="search-background">
      <div id="search-result" class="search-result-hide"></div>
      <div id="search-form-modal" class="search-form-modal">
        <form id="search-form-in-modal">
          <input required="" type="search" id="search-input-in-modal" class="search-input-in-modal" placeholder="Search whatever...">
          <button type="submit" class="searchButton">Search</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="content">
<p>
<a href="../index.html">Back</a>
</p>

<div id="Tables in Thymeleaf"><h1 id="Tables in Thymeleaf" class="header"><a href="#Tables in Thymeleaf">Tables in Thymeleaf</a></h1></div>

<hr>

<p>
In this section we are going to show how to create a table with Thymeleaf:
</p>

<div id="Tables in Thymeleaf-Controller"><h2 id="Controller" class="header"><a href="#Tables in Thymeleaf-Controller">Controller</a></h2></div>

<p>
We create a controller for <code>Employee</code>, to list and add employees.
</p>

<pre java="">package com.springboot.thymeleafdemo.controller;

import java.util.ArrayList;
import java.util.List;

import javax.annotation.PostConstruct;

import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RequestMapping;

import com.springboot.thymeleafdemo.model.Employee;

@Controller
@RequestMapping("/employees")
public class EmployeeController {

	// load employee data
	
	private List&lt;Employee&gt; theEmployees;
	
	@PostConstruct
	private void loadData() {
		
		// create employees
		Employee emp1 = new Employee(1, "Leslie", "Andrews", "leslie@luv2code.com");
		Employee emp2 = new Employee(2, "Emma", "Baumgarten", "emma@luv2code.com");
		Employee emp3 = new Employee(3, "Avani", "Gupta", "avani@luv2code.com");

		// create the list
		theEmployees = new ArrayList&lt;&gt;();
		
		// add to the list
		theEmployees.add(emp1);
		theEmployees.add(emp2);
		theEmployees.add(emp3);
	
	}
	
	// add mapping for "/list"

	@GetMapping("/list")
	public String listEmployees(Model theModel) {
		
		// add to the spring model
		theModel.addAttribute("employees", theEmployees);
		
		return "list-employees";
	}
}
</pre>

<div id="Tables in Thymeleaf-Entity"><h2 id="Entity" class="header"><a href="#Tables in Thymeleaf-Entity">Entity</a></h2></div>

<p>
We create the entity <code>Employee</code>:
</p>

<pre java="">package com.springboot.thymeleafdemo.model;

public class Employee {

	private int id;
	private String firstName;
	private String lastName;
	private String email;

	public Employee() {
		
	}

	public Employee(int id, String firstName, String lastName, String email) {
		this.id = id;
		this.firstName = firstName;
		this.lastName = lastName;
		this.email = email;
	}

	public int getId() {
		return id;
	}

	public void setId(int id) {
		this.id = id;
	}

	public String getFirstName() {
		return firstName;
	}

	public void setFirstName(String firstName) {
		this.firstName = firstName;
	}

	public String getLastName() {
		return lastName;
	}

	public void setLastName(String lastName) {
		this.lastName = lastName;
	}

	public String getEmail() {
		return email;
	}

	public void setEmail(String email) {
		this.email = email;
	}

	@Override
	public String toString() {
		return "Employee [id=" + id + ", firstName=" + firstName + ", lastName=" + lastName + ", email=" + email + "]";
	}
		
}
</pre>

<div id="Tables in Thymeleaf-Template"><h2 id="Template" class="header"><a href="#Tables in Thymeleaf-Template">Template</a></h2></div>

<p>
Finally we create the template for <code>list-employees.html</code>:
</p>

<pre html="">&lt;!DOCTYPE HTML&gt;
&lt;html lang="en" xmlns:th="http://www.thymeleaf.org"&gt;
&lt;head&gt;
  &lt;!-- Required meta tags --&gt;
  &lt;meta charset="utf-8"&gt;
  &lt;meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"&gt;
  &lt;!-- Bootstrap CSS --&gt;
  &lt;link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"&gt;
  &lt;title&gt;Employee Directory&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div class="container"&gt;
    &lt;h3&gt;Employee Directory&lt;/h3&gt;
    &lt;hr&gt;
    &lt;table class="table table-bordered table-striped"&gt;
      &lt;thead class="thead-dark"&gt;
      &lt;tr&gt;
        &lt;th&gt;First Name&lt;/th&gt;
        &lt;th&gt;Last Name&lt;/th&gt;
        &lt;th&gt;Email&lt;/th&gt;
      &lt;/tr&gt;
      &lt;/thead&gt;
      &lt;tbody&gt;
        &lt;!-- for loop for all employees, stored in the model --&gt;
        &lt;tr th:each="tempEmployee : ${employees}"&gt;
        &lt;td th:text="${tempEmployee.firstName}" /&gt;	
        &lt;td th:text="${tempEmployee.lastName}" /&gt;	
        &lt;td th:text="${tempEmployee.email}" /&gt;	
        &lt;/tr&gt;
      &lt;/tbody&gt;		
    &lt;/table&gt;
  &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>
</div>
  
  <script type="text/javascript" src="https://albamr09.github.io/highlight.min.js"></script>
  <script type="text/javascript" src="https://albamr09.github.io/zepto.min.js"></script>
  <script type="text/javascript" src="https://albamr09.github.io/flexsearch.bundle.js"></script>
  <script type="text/javascript" src="https://albamr09.github.io/search.js"></script>
  <script type="text/javascript">
    $("pre").each(function (index, item) {
      $(item).html("<code>" + $(item).html() + "</code>");
    });
    hljs.initHighlightingOnLoad();
  </script>

</body></html>